:root {
    /* background color site */
    --light-background-color: #ffffff;
    --medium-background-color: #4a4f56;
    --dark-background-color: #3b3f45;
    --dark-gray-background-color: #625e77;
    --medium-gray-background-color: #7a7593;
    --light-gray-background-color: #88839e;

    /* text color site */
    --light-text-color: #ffffff;
    --dark-text-color: #9b96ac;
    --accent-text-color: #ff8984;

    /* star color site */
    --icon-color: #000000;
}

/* font family */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0 auto;
    color: var(--light-text-color);
    background: linear-gradient(
            rgba(0, 0, 0, 0.8) 20%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.8) 80%
        ),
        url("../images/background.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    padding: 0;
    cursor: pointer;
}

/* Content styles */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: auto;
    background-color: var(--dark-background-color);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 45px;
}
.header {
    text-align: center;
    background-color: var(--medium-background-color);
    padding-top: 20px;
    padding-bottom: 12px;
    color: var(--accent-text-color);
}
.title {
    font-size: 24px;
    text-transform: capitalize;
}
.subtitle {
    font-size: 16px;
    margin-top: 4px;
}
.list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 534px;
}
.list-item {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: var(--light-gray-background-color);
    padding: 12px 14px;
    width: 100%;
    color: var(--light-text-color);
    cursor: pointer;
}
.list-item:nth-child(odd) {
    background-color: var(--light-gray-background-color);
}
.list-item:nth-child(even) {
    background-color: var(--medium-gray-background-color);
}
.list-item input[type="checkbox"] {
    position: absolute;
    inset: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}
.list-item p::before {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    transition: 0.2s;
    background-color: var(--light-background-color);
}

.list-item:hover {
    background-color: var(--dark-gray-background-color);
    border-bottom: 3px solid var(--light-background-color);
    border-top: 3px solid var(--light-background-color);
}
.list-item:active {
    animation: flash 0.2s;
}

@keyframes flash {
    0% {
        background-color: #ff8984;
    }
    100% {
        background-color: var(--light-gray-background-color);
    }
}
.list-item:has(input[type="checkbox"]:checked) {
    color: var(--dark-text-color);
    text-decoration: line-through;
}
.list-item-icon {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    opacity: 0;
    transition: 0.2s;
}
.list-item:has(input[type="checkbox"]:checked) .list-item-icon {
    opacity: 1;
    z-index: 1;
}
.list-item-text {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    margin-left: 26px;
}
.list-item-text > span {
    font-size: 11px;
}
.button {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 534px;
    height: 45px;
    background-color: var(--medium-background-color);
    color: var(--accent-text-color);
    border: none;
}
.button:hover {
    background-color: var(--dark-gray-background-color);
    border: 2px solid var(--light-gray-background-color);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}
